.App {
  text-align: center;
  margin-top: 2%;
}

* {
  background-color: #c6ecce;
}

.title {
  border-radius: 25px;
  background-color: #1e643c;
  padding: 20px;
  width: 25%;
  height: 5%;
  margin: 0 auto;
  color: white;
  font-weight: 800;
}

.account-list-grid {
  display: grid;
  grid-template-columns: auto auto auto 10%;
  align-items: center;
  align-self: stretch;
}

.accounts-list {
  margin: 5%;
  border-radius: 25px;
  background-color: #efece0;
  padding: 20px;
}

.subtitle {
  font-weight: 600;
  background-color: #efece0;
}

ul {
  padding-inline-start: 0;
  list-style-type: none;
  grid-template-columns: repeat(auto-fill, 40px);
  background-color: #efece0;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  background-color: #efece0;
}

.editButton {
  border: color(from color srgb r g b);
  color: rgb(10, 9, 9);
  background-color: #5b976c;
  padding: 5% 10%;
  text-align: center;
  display: inline-block;
  border-radius: 25px;
  font-size: 16px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  cursor: pointer;
}

.newAccountButton {
  border: color(from color srgb r g b);
  color: rgb(10, 9, 9);
  background-color: #5b976c;
  padding: 2% 5%;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
  font-size: 18px;
  margin: 5%;
  cursor: pointer;
  font-weight: 600;
}

.wrapper {
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #bebbab;
  align-items: center;
  align-self: stretch;
}

.left-end {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  vertical-align: middle;
  margin-top: 8px;
  margin-bottom: 8px;
}

.middle-row {
  margin-top: 8px;
  margin-bottom: 8px;

}

.right-end {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.iconButton {
  margin: 25%;
  border: none;
  background-color: #bebbab;
}

.icon {
  border: none;
  background-color: #bebbab;
  cursor: pointer;
}

h3 {
  background-color: #efece0;
  text-align: center;
  padding: 3% 10%;
}

p {
  margin: 0;
  background-color: #bebbab;
  padding: 5%;
  text-align: center;
  align-self: stretch;
  font-size: 120%;
}


.account-names {
  border: color(from color srgb r g b);
  color: rgb(10, 9, 9);
  display: contents;
  background-color: #bebbab;
  align-self: center;
}

.account-headers {
  grid-template-rows: 1 / -1;
  display: contents;
}
