.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.budget-headers {
    grid-template-rows: 1 / -1;
    display: contents;
}

.dropdown-menu {
    height: 70px;
    overflow-y: scroll;
}
